<!-- This is an A11y Change -->
<a name="top"></a>
<img src="https://static1.squarespace.com/static/55dc0497e4b04c7e17bb75e5/5a17195924a694106d1d4c85/5b984f8dc2241b8c0ca8a3d3/1536709711136/01+-+Budget.jpg?format=1500w" alt="Save money">
<div class="container center">

  <div class="page-area">

    <div class="text-box">
      <pb-article>
        <h1>Why???</h1>
        <div>
          This App will help you not forget about your expenses, you won't ever have to spend unnecessary money ever again!

      <ul>
          <li>Live your life without worries.</li>
          <li>Don't wonder on how you spent so much money because you didn't keep track</li>
          <li>Don't be in debt because you overspent!</li>
        </ul>
        </div>
      </pb-article>
  </div>

  <div class="text-box">
    <pb-article>
      <h1>Stay on track</h1>
      <div>
        Do you know where you are spending your money? If you really stop to track it down,
        you would get surprised! Proper budget management depends on real data... and this
        app will help you with that!
      </div>
    </pb-article>

  </div>

  <div class="text-box">
    <pb-article>
      <h1>Alerts</h1>
      <div>
          What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
      </div>
    </pb-article>
  </div>

  <div class="text-box">
    <pb-article>
      <h1>Results</h1>
      <div>
          People who stick to a financial plan, budgeting every expense, get out of debt faster!
          Also, they to live happier lives... since they expend without guilt or fear...
          because they know it is all good and accounted for.
      </div>
  <!-- This is an SEO Change -->
<a href="https://www.daveramsey.com/blog/the-truth-about-budgeting">Some tips for budgeting on the daily.</a>
</pb-article>
  </div>

  <div class="text-box">
  <pb-article>
      <h1>Free</h1>
      <div>
          This app is free!!! And you are the only one holding your data!
      </div>
    </pb-article>

   <div class="text-box">
     <article>
      <h1>Chart</h1>
      <p>
          <canvas id="myChart" width="400" height="400"></canvas>
      </p>
      </article>
      </div>
  </div>

</div>

</div>
<!-- This is an A11y Change -->
<a href="#top">Back to top of page</a>
